
<div id="contactInfo" class="container-fluid">
  <div class="row">
    <div class="col-md-4">Name: Cecil Lam</div>
    <div class="col-md-4">Email: cglam@ucdavis.edu</div>
    <div class="col-md-4">Phone: (510)593-6220</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/cglam"></a>
      <a class="fa fa fa-github-square" href="https://www.github.com/seesho"></a>
    </div>
  </div>
  <hr/>
</div>

<div id="details" class="container-fluid">
  <div class="row">
    <label class="col-md-2">EDUCATION:</label>
    <div class="col-md-5">University of California, Davis</div>
    <div class="col-md-5">Graduated March 2017</div>
  </div>

  <div class="row">
    <div class="col-md-5 col-md-offset-2">Bachelor of Science, Computer Science</div>
    <div class="col-md-5">GPA: 3.1</div>
  </div>

  <div class="row">
    <label class="col-md-12">EXPERIENCE:</label>
  </div>

  <div class="row">
    <div class="col-md-12">UC Davis IET:</div>
    <div class="col-md-12 media-list">
      <ul class="">
        <li ng-repeat="(t,e) in experience">
          <div class="">{{t}} {{e.date}}</div>
          <ul>
            <li ng-repeat="d in e.desc">
              {{d}}
            </li>
          </ul>
        </li>
        <ul>
      </ul>
    </div>

  <div class="row">
    <label class="col-md-12">SKILLS:</label>
    <ul>
      <li class="col-md-12" ng-repeat="(s,d) in skills">
        {{s}} {{d}}
      </li>
    </ul>
  </div>


  <div class="row">
    <label class="col-md-12">COURSEWORK:</label>
    <ul>
      <li class="col-md-12" ng-repeat="(k,v) in coursework">
        {{k}} : {{v}}
      </li>
    </ul>
  </div>


</div>
