.editable, th {
    cursor: pointer;
}
p {
  cursor: auto;
}

#tt {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  padding: 10px;
  position: absolute;
  text-align: center;
}

.legend {
  font-size: 12px;
}

rect {
  /*cursor: pointer;*/
  stroke-width: 2;
}
rect.disabled {
  fill: transparent !important;
}

.btn-group-sm {
  margin-top: 2px;
  margin-bottom: 2px;
}
