<html>
  <head>

  </head>
  <body>

    <h3>Money tracker</h3>

    <table class="table">
    <thead>
      <tr>
        <th>Selected</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="t in transactions">
        <td><input type="checkbox" ng-model="t.checked"></td>
        <td>{{t.amount}}</td>
        <td>{{t.description}}</td>
        <td>{{t.category}}</td>
      </tr>
    </tbody>
  </table>

  <div>
    <select ng-model="currency" ng-init="currency=currencies[0]" ng-options="currency for currency in currencies">
    </select>
    <input type="number" ng-model="amount" placeholder="Amount"/>
    <input type="text" ng-model="description" placeholder="Description"/>
    <select ng-model="category" ng-init="category=categories[0]" ng-options="category for category in categories"></select>
    <button ng-click="addTransaction(currency,amount,description,category)">Add</button>
  </div>

  <div id="debug" ng-if="">
    {{amount | currency:"USD$"}}
    {{transactions}}
  </div>

  </body>
</html>
